:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --theme-background-ultralight: #effaff;

  --theme-background-normal: #a0d2eb;

  --theme-background-light: #e5eaf5;

  --theme-color-light: #d0bdf4;

  --theme-color-normal: #8458B3;

  --theme-color-dark: #494D5F;

  --theme-border-radius-smooth: 10px;
}

body {
  max-width: 1024px;
  margin: auto;

}

h1 {
  text-align: center;
}

.loginContainer {
  width: fit-content;
  margin: auto;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  padding: 24px;
  margin-top: 100px;
}

.block {
  display: block;
  margin-top: 16px;
  padding: 10px 24px;
  width: 200px;
}

.center {
  display: flex;
  justify-content: center;
}